apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-configmap
  namespace: {{ .Release.Namespace }}
data:
  FLASK_APP: "/app"
  PGHOST: {{ .Values.db.host | quote }}
  PGPORT: {{ include "dbPort" . }}
  PGDATABASE: {{ .Values.db.name | default "fndb" | quote }}
  PGUSER: {{ include "dbUser" . }}
  DELIVERY_URL: {{ .Values.global.delivery_url }}
  SLM_BACKEND_URL: http://slm-backend.{{ include "slm_namespace" . }}.svc:8000
  KEYCLOAK_URL: "http://keycloak.{{ include "kc_namespace" . }}.svc.cluster.local"
  DEFAULT_NAMESPACE: {{ .Release.Namespace }}
  KEYCLOAK_NAMESPACE: {{ include "kc_namespace" . }}
  TASK_NAMESPACE: {{ include "tasks_namespace" . }}
  CLEANUP_AFTER_DAYS: {{ .Values.cleanupTime | quote }}
  PUBLIC_URL: {{ .Values.host }}
  RESULTS_PATH: {{ .Values.federatedNode.volumes.results_path }}
  TASK_POD_RESULTS_PATH: {{ .Values.federatedNode.volumes.task_pod_results_path }}
  IMAGE_TAG: {{ include "image-tag" . }}
  CLAIM_CAPACITY: {{ .Values.storage.capacity }}
  PV_MOUNT_POINT: /mnt/results
{{- if .Values.storage.local }}
  HOST_PATH: {{ .Values.storage.local.path }}/results
{{- end }}
  STORAGE_CLASS: {{ include "storageClassName" . }}
  CRD_DOMAIN: {{ include "controllerCrdGroup" . }}
{{- if .Values.storage.aws }}
  AWS_STORAGE_ENABLED: "true"
  AWS_STORAGE_DRIVER: "efs.csi.aws.com"
  AWS_FILES_SYSTEM_ID: {{ include "awsStorageAccount" . }}
{{- end }}
{{- if .Values.storage.azure }}
  AZURE_STORAGE_ENABLED: "true"
  AZURE_SHARE_NAME: {{ .Values.storage.azure.shareName }}/results
  AZURE_SECRET_NAME: {{ .Values.storage.azure.secretName | default "azure-storage-secret" }}
{{- end }}
{{- if .Values.taskReview }}
  TASK_REVIEW: enabled
{{- end }}
{{- if .Values.outboundMode }}
  CONTROLLER_NAMESPACE: {{ include "controller_namespace" . }}
  TASK_CONTROLLER: enabled
  {{- with index .Values "fn-task-controller" "delivery" -}}
  {{- if .github }}
  GITHUB_DELIVERY: {{ .github.repository }}
  {{- else if .other }}
  OTHER_DELIVERY: {{ .other.url }}
  {{- end }}
  {{- end }}
{{- end }}
  RABBIT_HOST: rabbit.{{ include "slm_namespace" . }}.svc
  RABBIT_PORT: 5743
  RABBIT_QUEUE: prompts
