apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: keycloak
  namespace: {{ include "kc_namespace" . }}
  labels:
    app: keycloak
spec:
  serviceName: keycloak-headless
  replicas: {{ .Values.keycloak.replicas | default 2 }}
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      annotations:
        rollme: {{ template "rollMe" . }}
      labels:
        app: keycloak
    spec:
      initContainers:
        {{- include "createDBInitContainer" . | nindent 8 }}
          - name: NEW_DB
            valueFrom:
              configMapKeyRef:
                name: keycloak-config
                key: KC_DB_URL_DATABASE
        - name: credentials-reset
          imagePullPolicy: {{ .Values.pullPolicy }}
          image: {{ include "fn-alpine" . }}
          command: ["keycloak-reset"]
          {{- include "nonRootSC" . | nindent 10 }}
          env:
          - name: KEYCLOAK_SECRET
            valueFrom:
              secretKeyRef:
                name: kc-secrets
                key: KEYCLOAK_GLOBAL_CLIENT_SECRET
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: {{.Values.db.secret.name}}
                key: {{.Values.db.secret.key}}
          - name: KC_NAMESPACE
            value: {{ include "kc_namespace" . }}
          - name: PGDATABASE
            value: {{ include "dbKeycloakName" . }}
          envFrom:
          - configMapRef:
              name: keycloak-config

      containers:
        - image: ghcr.io/aridhia-open-source/federated_keycloak_slm:{{ .Values.keycloak.tag | default .Chart.AppVersion }}
          args: [
            "start",
            "--cache=ispn",
            "--cache-config-file=cache-ispn.xml",
            "--import-realm",
            "--features=preview",
            "--http-enabled=true",
            "--hostname-strict=false",
            "--hostname-strict-https=false",
            "-Dkeycloak.infinispan.ignoreSkipCacheStore=true"
          ]
          name: keycloak
          imagePullPolicy: {{ .Values.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /realms/master
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          env:
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{.Values.db.secret.name}}
                  key: {{.Values.db.secret.key}}
            - name: KEYCLOAK_SECRET
              valueFrom:
                secretKeyRef:
                  name: kc-secrets
                  key: KEYCLOAK_GLOBAL_CLIENT_SECRET
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kc-secrets
                  key: KEYCLOAK_ADMIN_PASSWORD
          envFrom:
          - configMapRef:
              name: keycloak-config
          volumeMounts:
            - name: config
              mountPath: /opt/keycloak/data/import/
            - name: quarkus
              mountPath: /opt/keycloak/conf/quarkus.properties
              subPath: quarkus.properties
          {{- include "nonRootSC" . | nindent 10 }}
      volumes:
        - name: config
          configMap:
            name: keycloak-start-config
            items:
            - key: config.json
              path: config.json
        - name: quarkus
          configMap:
            name: keycloak-start-config
            items:
            - key: quarkus.properties
              path: quarkus.properties
        - name: db-init
          configMap:
            name: keycloak-start-config
            defaultMode: 0777
            items:
            - key: dbinit.sh
              path: dbinit.sh
