apiVersion: batch/v1
kind: Job
metadata:
  name: regcred-migration
  namespace: {{ .Release.Namespace }}
spec:
  template:
    metadata:
      name: "regcred-migration"
    spec:
      restartPolicy: Never
      serviceAccountName: secret-backend-handler
      containers:
        - name: migrate
          image: {{ include "fn-alpine" . }}
            command: ["migrate-docker-secret"]
            imagePullPolicy: {{ .Values.pullPolicy }}
            {{- include "nonRootSC" . | nindent 12 }}
            env:
            - name: BASE_URL
              value: http://backend:5000
            - name: KEYCLOAK_ADMIN
              value: admin
            - name: DEFAULT_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: TASK_NAMESPACE
              value: {{ include "tasks_namespace" . }}
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: kc-secrets
                  key: KEYCLOAK_ADMIN_PASSWORD
          restartPolicy: Never
