apiVersion: batch/v1
kind: Job
metadata:
  name: regcred-migration
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 30
  template:
    metadata:
      name: "regcred-migration"
    spec:
      restartPolicy: Never
      serviceAccountName: secret-backend-handler
      containers:
        - name: migrate
          image: {{ include "fn-alpine" . }}
          command: ["python3", "/usr/bin/migrate-docker-secret"]
          imagePullPolicy: {{ .Values.pullPolicy }}
          {{- include "nonRootSC" . | nindent 10 }}
          env:
          - name: BACKEND_URL
            value: http://backend:5000
          - name: KEYCLOAK_ADMIN
            value: admin
          - name: DEFAULT_NAMESPACE
            value: {{ .Release.Namespace | quote }}
          - name: TASK_NAMESPACE
            value: {{ include "tasks_namespace" . | quote }}
          - name: KEYCLOAK_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: kc-secrets
                key: KEYCLOAK_ADMIN_PASSWORD
