.venv
.vscode
artifacts/**
!.keep

*.pyc
__pycache__/

.env
*.env
k8s/*/*.values.yaml
*.crt
*.key

# Ingore helm charts archives

**/.coverage
**/coverage.xml
k8s/federated-node/Chart.lock
k8s/federated-node/charts
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-config.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-deployment.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-poddisruptionbudget.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-psp-clusterrole.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-psp-clusterrolebinding.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-psp.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-rbac.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-service.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/cainjector-serviceaccount.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/controller-config.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/crds.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/deployment.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/extras-objects.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/networkpolicy-egress.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/networkpolicy-webhooks.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/NOTES.txt
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/poddisruptionbudget.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/podmonitor.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/psp-clusterrole.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/psp-clusterrolebinding.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/psp.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/rbac.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/service.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/serviceaccount.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/servicemonitor.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/startupapicheck-job.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/startupapicheck-psp-clusterrole.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/startupapicheck-psp-clusterrolebinding.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/startupapicheck-psp.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/startupapicheck-rbac.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/startupapicheck-serviceaccount.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-config.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-deployment.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-mutating-webhook.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-poddisruptionbudget.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-psp-clusterrole.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-psp-clusterrolebinding.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-psp.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-rbac.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-service.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-serviceaccount.yaml
k8s/federated-node/.debug/federated-node/charts/cert-manager/templates/webhook-validating-webhook.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/controller-configmap.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/controller-default-delivery-configmap.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/controller-deployment.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/controller-namespace.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/controller-volumes.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/copy-secrets-cm.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/crd.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/keycloak-idp-github.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/roles.yaml
k8s/federated-node/.debug/federated-node/charts/fn-task-controller/templates/storageclass.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/clusterrole.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/clusterrolebinding.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-configmap-addheaders.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-configmap-proxyheaders.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-configmap-tcp.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-configmap-udp.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-configmap.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-daemonset.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-deployment.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-hpa.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-ingressclass-aliases.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-ingressclass.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-keda.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-networkpolicy.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-prometheusrule.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-role.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-rolebinding.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-secret.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-service-internal.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-service-metrics.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-service-webhook.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-service.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-serviceaccount.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/controller-servicemonitor.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/default-backend-deployment.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/default-backend-extra-configmaps.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/default-backend-hpa.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/default-backend-networkpolicy.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/default-backend-service.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/NOTES.txt
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/cert-manager.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/validating-webhook.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrole.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/job-patch/clusterrolebinding.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/job-patch/networkpolicy.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/job-patch/role.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/job-patch/rolebinding.yaml
k8s/federated-node/.debug/federated-node/charts/ingress-nginx/templates/admission-webhooks/job-patch/serviceaccount.yaml
k8s/federated-node/.debug/federated-node/templates/azure-storage-secrets.yaml
k8s/federated-node/.debug/federated-node/templates/backend-configmap.yaml
k8s/federated-node/.debug/federated-node/templates/backend-deployment.yaml
k8s/federated-node/.debug/federated-node/templates/backend-results-pv.yaml
k8s/federated-node/.debug/federated-node/templates/backend-roles.yaml
k8s/federated-node/.debug/federated-node/templates/backend-secrets.yaml
k8s/federated-node/.debug/federated-node/templates/backend-service.yaml
k8s/federated-node/.debug/federated-node/templates/certificates-namespace.yaml
k8s/federated-node/.debug/federated-node/templates/copy-sercets.yaml
k8s/federated-node/.debug/federated-node/templates/db-deployment.yaml
k8s/federated-node/.debug/federated-node/templates/db-pv.yaml
k8s/federated-node/.debug/federated-node/templates/db-service.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-configmap.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-credential-reset.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-headless.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-namespace.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-realm-job.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-secrets.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-service.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-start-configmap.yaml
k8s/federated-node/.debug/federated-node/templates/keycloak-statefulset.yaml
k8s/federated-node/.debug/federated-node/templates/nginx-extra-headers-configmap.yaml
k8s/federated-node/.debug/federated-node/templates/nginx-ingress.yaml
k8s/federated-node/.debug/federated-node/templates/nginx-namespace.yaml
k8s/federated-node/.debug/federated-node/templates/NOTES.txt
k8s/federated-node/.debug/federated-node/templates/registry-sync-cronjob.yaml
k8s/federated-node/.debug/federated-node/templates/result-cleaner-cronjob.yaml
k8s/federated-node/.debug/federated-node/templates/storageclass.yaml
k8s/federated-node/.debug/federated-node/templates/task-namespace.yaml
k8s/federated-node/.debug/federated-node/templates/certificates/certificate.yaml
k8s/federated-node/.debug/federated-node/templates/certificates/issuer.yaml
k8s/federated-node/.debug/federated-node/templates/certificates/roles.yaml
k8s/federated-node/.debug/federated-node/templates/tests/smoke-tests.yaml
k8s/federated-node/.debug/federated-node/templates/tests/test-connection.yaml
