.venv
.vscode
artifacts/**
!.keep

*.pyc
__pycache__/

.env
*.env
k8s/*/*.values.yaml
*.crt
*.key

# Ingore helm charts archives

**/.coverage
**/coverage.xml
k8s/federated-node/Chart.lock
k8s/federated-node/charts
debug.yaml
