# Default values for federated-node.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

backend:
  tag:

keycloak:
  tag:

autoscaling:
  enabled: false

global:
  namespaces:
    keycloak: keycloak
    tasks: tasks
    controller: fn-controller

namespaces:
  nginx: ingress-nginx

local_development: false

db:
  user:
  password:
  name:
  host:
  # If a configmap with host user exists, use that
  # configMap:
  # If a secret with password exists, use that
  # secret:
  #   name:
  #   key:

# How many days the results and k8s resources are kept for
cleanupTime: 3

federatedNode:
  port: 5000
  volumes:
    results_path: /mnt/results
    task_pod_results_path: /mnt/data

storage: {}
  # azure:
    # secretName:
    # storageAccountName:
    # storageAccountKey:
    # shareName:
  # nfs:
    # provisioner:
    # url:
    # path:
  # local:
    # Local storage that will be shared with the backend
    # path:
    # Local storage that will be shared with the db
    # dbpath: /data/db

token:
  life:

pullPolicy: Always

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

ingress:
  host:
  on_aks: false
  whitelist:
    enabled: false
    ips: []
  blacklist:
    enabled: false
    ips: []
  tls: {}
    # keyFile:
    # certFile:
    # secretName:

# Enables full smoketests when running `helm test`.
# This will actively try to add new database and keycloak entries
# and then remove them as part of the cleanup process. Basic tests will be carried anyway.
# If not comfortable with these smoketests, do no overwrite this value.
smoketests: false

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

outboundMode: false

###
fn-task-controller:
  controller: {}
    # tag:

  storage: {}
    # size:
    # local:
    #   path:

  idp: {}
    # github:
    #   secret_name:
    #   secret_key:
    #   clientid_key:
