[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
kubernetes = "*"
docker = "*"
pytest-mock = "*"

[dev-packages]
pylint=">=3.0.3"
pytest = "*"

[requires]
python_version = "3.12"
