[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
kubernetes = "*"
flask-sqlalchemy = "*"
joserfc = "*"
pyjwt = "*"
waitress = "*"
flask-swagger-ui = "*"
pymssql = "*"
werkzeug = "*"
jinja2 = "*"

[dev-packages]
pylint="*"
pytest = "*"
pytest-mock = "*"
python-dotenv = "*"
pytest-cov = "*"
responses = "*"

[requires]
python_version = "3.12"
